.user-details-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  background: rgb(0, 0, 0);
}

.user-image {
  border-radius: 60%;
  height: 40px;
}

.user-name {
  color: #f10f0f;
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}
